@import '../../index.scss';

.connect {
    .container {

        .section-header {
            padding: 0;
            margin-bottom: 64px;

            .section-title {
                font-size: clamp(2.4em, 3vw, 3.6em);
                font-weight: 600;
            }
        }

        .contact-info {
            display: flex;
            align-items: flex-start;
            gap: 64px;

            .info-item {
                max-width: 450px;

                .title-block {
                    font-size: clamp(1.6em, 2vw, 1.8em);
                    font-weight: 600;
                    opacity: 80%;
                }

                .text-block {
                    font-size: clamp(1.4em, 2vw, 1.6em);
                    font-weight: 400;
                    opacity: 50%;
                    padding-top: 16px;
                    line-height: 24px;
                }

                &:nth-child(1) {
                    flex: 2;
                }
            }
        }

        .title-block {
            margin-top: 64px;
            margin-bottom: 10px;
            font-size: clamp(1.6em, 2vw, 2em);
            font-weight: 600;
        }
    }
}