@import '../../index.scss';

.desktopNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 99;
    transition: all 250ms ease;

    &.active {
        background-color: $primary-black;

        .nav-container {
            padding: 25px 0;
        }
    }

    .nav-container {
        padding: 50px 0;
        justify-content: space-between;
        transition: all 250ms ease;

        .logo-container {
            flex: 1;

            img {
                width: 152px;
            }
        }

        .menu-container {
            flex: 2;

            .main-menu {
                justify-content: center;

                .menu-item {
                    margin-inline: 28px;
                    cursor: pointer;

                    a {
                        font-size: 1.4em;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }
            }

        }

        .nav-cta {
            flex: 1;
            text-align: right;
            cursor: pointer;

            a {
                font-size: 1.4em;
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        a {
            overflow: hidden;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -10px;
                height: 2px;
                width: 100%;
                background-color: $primary-white;
                opacity: 0;
                transition: all 150ms ease-in-out;
            }

            &:hover {
                &::after {
                    bottom: -4px;
                    opacity: 1;
                }
            }
        }
    }
}